<ion-app>
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center" size="large">Kalkulator walut</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Podaj kwotę w PLN</ion-label>
            <ion-input placeholder="kwota" class="ion-text-end" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Wybór waluty</ion-label>
            <ion-select placeholder="Rozwiń">
              <ion-select-option value="EUR">EUR</ion-select-option>
              <ion-select-option value="USD">USD</ion-select-option>
              <ion-select-option value="CHF">CHF</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button expand="block">Oblicz</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
